<div class="container unit-list-wrapper">
    <ul class="unit-list">
        <li class="unit" ng-repeat="note in vm.all">
            <div class="tool-bar">
                <a href="" ng-click="vm.delete(note)"><span class="glyphicon glyphicon-trash"></span></a>
            </div>
            <div class="content">
                <a href="#/edit/{{note.$id}}"><h3 class="title">{{note.title}}</h3></a>
                <div ng-bind-html="note.mainbody"></div>
            </div>
        </li>
    </ul>
</div>  