.note {
  color: #000;
}

//  .note ul {
//      list-style: none;
//  }

//  .note li {
//      float: left;
//      margin: 10px;
//      width: 300px;
//      height: 300px;
//      border: #000 1px solid;
//  }

#editor {
    margin: 0px 10px 10px 10px;
    border-left: #000 1px solid;
    border-right: #000 1px solid;
    border-bottom: #000 1px solid;
    padding: 50px 25px;
}