$link-color: #5AADBB;

$unit-height: 300px;
$unit-width: 240px;
$unit-padding: 1px;

body {
   background-color:#ccc;
}

ul {
  list-style: none;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
}

.unit-list .unit {
  position: relative;
  float: left;
  width: $unit-width;
  height: $unit-height;
  padding: $unit-padding;
  margin: 25px 25px 0 0;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.08);
  background-color:#fff;
  overflow: hidden;
  
  .content {
     font-size: 50%;
     .title {
        margin-left: 5px;
        max-height: 1em;
        overflow: hidden;
     }
  }

  .content h2 {
     font-size: 50%;
  }

  .tool-bar {
    position: absolute;
    right: 5px;
    top: 10px;
  }
}

#editor {
    margin: 0px 10px 10px 10px;
    padding: 50px 25px;
}

.title-container {
    position: relative;
    padding: 0 30%;
    margin: 0 auto;
}

.title-line {
   border: #aaa 1px solid;
   height: 1px;
   border-top: 0;
}

.title-container input {
    display: block;
    top: 15px;
    margin: 0;
    margin-top: 50px;
    width: 100%;
    border: none;
    font-size: 30px;
    text-align: center;
}

.title-container input:focus {
    outline: none !important;
    border: none;
}

.save-button {
  position: absolute;
  top: 20px;
  right: 20px;
  line-height: 33px;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 3.01px;
  color: #fff;
  background-color: $link-color;
}

.container {
   padding: 0;
}

.editor-wrapper {
   position: relative;
   min-height: 1024px;
   margin-top: 60px;
   margin-bottom: 50px;
   background-color: #fff;
}

.unit-list-wrapper {
   margin-top: 60px;
   margin-bottom: 50px;
   padding: 0 0 50px;
}


